[Unit]
Description=Slowcontrol start
After=network.target nss-lookup.target time-sync.target

[Service]
Type=forking
PrivateTmp=false
PIDFile=/var/run/maassend.pid
Environment="HOME=/root"
ExecStart=/root/maassend --pidFile /var/run/maassend.pid
KillMode=mixed

[Install]
WantedBy=multi-user.target
