#main {
    /* 	margin-left:12em; */
    /* 	padding-left:10px; */
    /* 	background: #FFFF80; */
    /* 	position:absolute; */
    margin-top:0px;
}

#content {
    margin-left:12em;
    margin-bottom:4em;
    margin-right:10px;
}

#navigation { 
    background : #FFFFFF;
    position: absolute;
    /* 	float: left; */
    left:0;
    top: 0px;
    width: 10em;
    height: 100%;
    /*	right: auto;
	left: 0;*/
    margin-bottom: 2ex;
    margin-right: 1em;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0px;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 1em;
    z-index : 50;
}
#navsection {
    background: #333C4B;
    color: #FFFFFF;
    display: block;
    border-width: thin;
    border-style: outset;
    margin-bottom: 0.5ex;
    padding:0.25ex;
    padding-left:0ex;
    font-weight: bold;
}

#globalstate {
    bottom: 0;
    position: fixed;
    /*            height: 3.4em; */
    right: auto;
    left: 0em;
    width: 100%;
    padding-left:0.5ex;
    z-index : 100;
}
#help {
    position: fixed;
    right: 0;
    top: 116px;
    border-style: ridge;
    font-size: small;
}

table {
    border-width:2px;
    border-color: #5D718F;
    border-style: solid;
    rules: all;
    frame: box;
    align: char;
    char: ".";
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #FFF
}
tr:nth-child(odd) {
    background: #F8F8F8
}

td.bad {
    background : #ff2020;
}
td.good {
    background : #20ff20;
}
td.old {
    background : #ffaa20;
}
td.inactive {
    background : #dddddd;
}
td.partial {
    background : #ffff00;
}
span.good {
    color : black;
    background : #20ff20;
}
span.bad {
    color : white;
    background : #ff2020;
}
span.bad a {
    color : #FFFFFF;
}

span.old {
    color : black;
    background : #ffaa20;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-size: 10vh;
}



blink {
    display: inline;
    color: inherit;
    animation: blink 1s ease infinite;
    -webkit-animation: blink 1s ease infinite;
}
@keyframes blink { 50% { background: #BBAA00; } }
@-webkit-keyframes blink { 50% { background: #BBAA00; } }

.fadeout {
    animation: fadeout 30s steps(30) forwards;
    -webkit-animation: fadeout 30s steps(30) forwards;
}
@keyframes fadeout { 0% { background:#20FF20;}
		     100% {background:#ffaa20; }}
@-webkit-keyframes fadeout { 0% { background:#20FF20;}
			     100% {background:#ffaa20; }}

a.button {
    display: inline;
    border-width: thin;
    border-style: groove;
}
nav ul {
    background: #6664FB;
    list-style-type: none;
    border-width: thin;
    border-style: outset;
    margin-bottom: 0.5ex;
    padding:0.25ex;
    padding-left:0.0ex;
}
nav li {
    background: #333C4B;
    color: #FFFFFF;
    display: block;
    border-width: thin;
    border-style: outset;
    margin-bottom: 0.5ex;
    padding:0.25ex;
    padding-left:0.5ex;
}
nav a {
    color: #FFFFFF;
}
/* All Smartphones in portrait and landscape ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px),
/* Android 240 X 320 ----------- */
(max-width: 241px),
/* Android(Samsung Galaxy) in portrait 380 X 685 ----------- */
(min-width: 375px) and (max-width: 385px),
/* Android(Samsung Galaxy) in Landscape 685 X  380 ----------- */
(min-width: 680px) and (max-width: 690px),
(-webkit-min-device-pixel-ratio: 1.1) and (max-width: 1000px),
(max-width: 500px)
{
    body {
                font-size: 30pt;
        }
    #content {
	margin-top: 2ex;
	margin-left:0px;
	margin-bottom:4em;
	margin-right:0px;
    }
    #navigation {
	background: #0f0
	position: absolute;
	/* 	float: left; */
	left:0;
	top: 0px;
	width: 100%;
	height: 1ex;
	/*	right: auto;
	left: 0;*/
	margin-bottom: 2ex;
	margin-right: 1em;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0px;
	padding-right: 1em;
	padding-top: 0ex;
	padding-bottom: 0ex;
	z-index : 50;
    }
    nav {
	background: #00f
	display: block;
	position: absolute;
	top:0;
	min-height: 1em;
	margin: 0;
	padding: 0;
	width:95%;
    }
    nav ul {
	position: absolute;
	top:0;
	width:100%;
	height:1em
	border: solid 1px #a00;
	background: #fff url(image/icon-menu.png) no-repeat 0.5em 1.2em;
	background-size: 2.7em auto;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    nav ul li {
	display: none; /* hide all <li> items */
	transition: none !important;
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	text-align: left;
	list-style: none;
	margin: 0 0 0 1.5em;
	padding: 0.5em 0.5em 0.5em 0;
	width:100%;
    }
    nav ul li:hover {
	background: none !important;
	transition: none !important;
	box-shadow: none !important;
	border: none !important;
	width:100%;
    }
    nav li.current {
	display: block; /* show only current <li> item */
    }
    nav ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	color: black !important;
	line-height: 100%;
	font-size: 2em;
	width:100%;
    }
    nav li.current a {
	background: none;
	color: #666 !important;
    }
    nav ul:hover {
	background-image: none;
    }
    nav ul:hover li {
	display: block;
	margin-top: 0.5em;
    }
    nav ul:hover li.current {
	margin:0;
	margin-top: 0.5em;
	padding:0 0 0 1.5em;
	background: url(image/icon-check.png) no-repeat 0.5em 0.7em !important;
	background-size: 0.7em auto !important;
    }
    nav.center ul {
	left: 2.5%;
    }
}

@media print {
        body {
                background: none;
                line-height: 1.2em;
        }
       #header {
                background: none;
                display: none;
        }
        #navigation {
                display: none;
        }
        #content {
                margin: 0;
        }
        tr.rundbhead {
                font-weight: bold;
        }
        a:link, a:visited {
                color: #000000;
        }
}

.fontsized {
    background: #000080;
    height: 1em; 
    width: 1em;
}
